MONGO_URI=mongodb://host.docker.internal:27017,host.docker.internal:27018,host.docker.internal:27019/?replicaSet=rs0
DB_NAME=stockdb
COLLECTION=stocks
UPDATE_INTERVAL=1.0
BURSTY_MODE=false
BURSTY_MIN=0.1
BURSTY_MAX=3.0

GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json
GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET=stock_history
BQ_TABLE=price_history
